[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
guessit = "*"
pywin32 = {version = "*", sys_platform = "== 'win32'"}
win10toast = {version = "*", sys_platform = "== 'win32'"}
toml = "*"
appdirs = "*"

[dev-packages]
