version: '1.0'

general:
  enable_notifs:
    exception: yes
    misc: yes
    scrobble:
      start: yes
      pause: yes
      resume: yes
      stop: yes
    trakt: yes
  proxies: {}

fileinfo:

  # if defined, only files from these directories will be scrobbled
  whitelist: []  # Keep as [] to allow all

  exclude_patterns: []  # ignore files matching these regex patterns

  # custom regex to identify media information, should be posix path
  include_regexes:
    movie: []
    episode: []

players:
  monitored: []  # players to be monitored. Allowed: mpc-be, mpc-hc, mpv, plex, smplayer@mpv, syncplay@mpv, vlc

  # general parameters, can be overridden per player (Eg: trakts config set players.plex.skip_interval 10)
  skip_interval: 5  # min percent jump to consider for scrobbling to trakt
  preview_threshold: 80  # min progress (in %) at which file should be opened for preview to be started
  preview_duration: 60  # in seconds. How long the monitor should wait to start sending scrobbles
  fast_pause_threshold: 1  # in seconds. Max time elapsed between a "play->pause" transition to trigger the "fast_pause" state
  fast_pause_duration: 5  # in seconds. How long the monitor should wait to start sending scrobbles

  # player specific parameters
  mpc-be:  # enable web interface from options
    ip: localhost
    port: auto-detect  # from Options -> Player -> Web Interface -> Listen on port (ensure it is ticked)
    poll_interval: 10  # in seconds. How frequently the monitor should check for player update.

  mpc-hc:  # enable web interface from options
    ip: localhost
    port: auto-detect  # if both mpchc and mpcbe are to be monitored, then ensure that their ports are different
    poll_interval: 10  # in seconds

  vlc:  # enable web interface from options
    ip: localhost
    port: auto-detect  # from Preferences -> All -> Input/Codecs -> HTTP Server Port
    password: auto-detect  # from Preferences -> All -> Interface -> Main Interfaces -> Lua -> Lua HTTP Password
    poll_interval: 10  # in seconds. How frequently the monitor should check for player update.

  mpv:  # enable the JSON IPC server. Either via cmd line arg (eg: --input-ipc-server=\\.\pipe\mpvpipe), or in mpv.conf file
    ipc_path: auto-detect
    poll_interval: 10  # in seconds. How frequently the monitor should check for player update.
    read_timeout: 2  # seconds to wait while reading data from mpv
    write_timeout: 60  # seconds to wait while writing data to mpv
    restart_delay: 0.1  # seconds to wait after one file ends to check for the next play. usually needed for slow mpv wrappers which may cause delay

  smplayer@mpv:  # enable the JSON IPC server for mpv from Settings->Advanced->Mplayer/mpv->Options: "--input-ipc-server=\\.\pipe\mpvsocket" (Windows) or "--input-ipc-server=/tmp/mpvsocket" (Linux)
    ipc_path: auto-detect
    poll_interval: 10  # in seconds. How frequently the monitor should check for player update.
    read_timeout: 2  # seconds to wait while reading data from mpv
    write_timeout: 60  # seconds to wait while writing data to mpv
    restart_delay: 0.1  # seconds to wait after one file ends to check for the next play

  syncplay@mpv:  # Add "Player Arguments" during configuration: "--input-ipc-server=\\.\pipe\mpvsocket" (Windows) or "--input-ipc-server=/tmp/mpvsocket" (Linux)
    ipc_path: auto-detect
    poll_interval: 10  # in seconds. How frequently the monitor should check for player update.
    read_timeout: 2  # seconds to wait while reading data from mpv
    write_timeout: 60  # seconds to wait while writing data to mpv
    restart_delay: 0.1  # seconds to wait after one file ends to check for the next play

  plex:
    ip: localhost  # IP of the plex server
    port: '32400'
    poll_interval: 10  # in seconds. How frequently the monitor should check for player update.
    scrobble_user: ""

backlog:
  clear_interval: 1800  # 30 minutes
  expiry: 2592000  # 30 days