<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.github.iamkroot.trakt-scrobbler</string>
    <key>ProgramArguments</key>
    <array>
        <string>Enter the output of pipenv --py here!</string>
        <string>trakt_scrobbler/main.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>**/Path/To/**trakt-scrobbler</string>
    <key>RunAtLoad</key>
    <true />
    <key>LaunchOnlyOnce</key>
    <true />
    <key>KeepAlive</key>
    <true />
</dict>
</plist>