name: Build
on: push

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13', '3.14']
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        version: "0.9.24"
        python-version: ${{ matrix.python-version }}

    - name: Install project
      run: uv sync --locked --all-extras --dev

    - name: Run tests
      run: uv run python -m unittest

  build:
    needs: test
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        version: "0.9.24"

    - name: Install project
      run: uv build

    - uses: actions/upload-artifact@v6
      if: ${{ startsWith(github.ref, 'refs/tags/v') }}
      with:
        name: dist
        path: dist

  release:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/trakt-scrobbler
    permissions:
      id-token: write  # needed for pypi
      contents: write  # needed for github release
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0  # needed for changelog

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        version: "0.9.24"

    - uses: actions/download-artifact@v4.1.7
      with:
        name: dist
        path: dist

    - name: Generate Changelog
      id: changelog
      uses: mikepenz/release-changelog-builder-action@v6
      with:
        owner: iamkroot
        ignorePreReleases: true
        mode: "hybrid"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Release(github)
      if: ${{ ! env.ACT }}
      uses: softprops/action-gh-release@v2
      with:
        files: dist/*.*
        body: ${{steps.changelog.outputs.changelog}}
        prerelease: ${{ contains(github.ref, '-beta') }}

    - name: Release(pypi)
      run:  uv publish
